unity/EvoDilemmaUnity/[Ll]ibrary/
unity/EvoDilemmaUnity/[Tt]emp/
unity/EvoDilemmaUnity/[Oo]bj/
unity/EvoDilemmaUnity/[Bb]uild/
unity/EvoDilemmaUnity/[Bb]uilds/
unity/EvoDilemmaUnity/[Ll]ogs/
unity/EvoDilemmaUnity/[Uu]ser[Ss]ettings/
unity/EvoDilemmaUnity/*.log

*.blend1
*.blend1.meta

unity/EvoDilemmaUnity/[Mm]emoryCaptures/

unity/EvoDilemmaUnity/[Rr]ecordings/


unity/EvoDilemmaUnity/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt
mono_crash.*

*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

crashlytics-build.properties

InitTestScene*.unity*

unity/EvoDilemmaUnity/ServerData
unity/EvoDilemmaUnity/[Aa]ssets/StreamingAssets/aa*
unity/EvoDilemmaUnity/[Aa]ssets/AddressableAssetsData/link.xml*
unity/EvoDilemmaUnity/[Aa]ssets/Addressables_Temp*
unity/EvoDilemmaUnity/[Aa]ssets/AddressableAssetsData/*/*.bin*

unity/EvoDilemmaUnity/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
unity/EvoDilemmaUnity/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
unity/EvoDilemmaUnity/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
unity/EvoDilemmaUnity/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

unity/EvoDilemmaUnity/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
